@media (max-width: 1440px){
    body {
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
        color: hsl(238, 29%, 16%);
    }
    p {
        font-size:15px;
    }
    .accordion {
        display: flex;
        height: 100%;
        padding: 100px 70px;
        background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
        justify-content:center;
        align-items: center;
        align-content: center;
    }
     .board {
        display: flex;
        flex-direction: row;
        width: 75%;
        margin: auto;
        background-color: white;
        background-image: url('images/bg-pattern-desktop.svg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: left left;
        padding:  30px 55px;
        border-radius: 15px;
        box-shadow: 0 0 50px 0 hsl(240, 73%, 10%);
    }
    .images, .inf0 {
       width: 50%;
    }
    .images {
        padding: 30px;
        
    }
    .info {
        display: flex;
        flex-direction: column;
    }
    .faq{
        display: flex;
        flex-direction: column;
    }
    .img-desktop {
        width: 550px;
        position: relative;
        right: 190px;
    } 
    .faq {
        margin-bottom: 15px;
    }
    .title {
        padding: 16px;

    }
    .arrow {
        padding: 16px;
    }
    .question {
       display: flex;
       flex-direction: row;
       font-size: 15px;
       justify-content: space-between;
       border: none;
       padding: 5 20px;
       word-spacing: 5px;
       text-align:left;
    }
    .question:hover {
        cursor: pointer;
        font-size: 15px;
        font-weight: 600;
        transition-duration: 0.3s;
    }
    .question:active {
        color: hsl(14, 88%, 60%);
        font-size: 15px;
        font-weight: 600;
        cursor: pointer;
        transition-duration: 0.03s;
    }
    .answer {
        display: none;
    }
    .question.active + .answer{
        display: block;
        background-color: mintcream;
        padding: 10px;
    }
    
}

@media (max-width: 900px) {
    .accordion {
        display: block;
        padding: 30px;
    }
    .board {
        width: 75%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        padding: 30px;
    }
    .images, .info {
        width: 95%;
    }
    .info {
        text-align: center;
    }
    .img-desktop{
        width: 100%;
        position: static;
    }
}



@media (max-width: 600px) {
    .accordion {
        display: block;
        padding: 30px;
    }
    .board {
        width: 95%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        padding: 30px;
    }
    .images, .info {
        width: 95%;
    }
    .info {
        text-align: center;
    }
    .img-desktop{
        width: 100%;
        position: static;
    }
}





